:root {
  --timer-progress-ring-bg: #222222;
  --timer-progress-ring-color: #a8c7fa;
  --timer-split-divider-color: #222222;
}

html {
  font-family:
    'Open Sans Variable', 'Noto Sans TC Variable', 'Roboto Variable', 'Microsoft JhengHei',
    sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden; /* Prevent content overflow from showing scrollbars */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
